<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <connectionStrings>
    <add name="ScanDbSqlConnection" connectionString="server=localhost\SQLEXPRESS;database=scan;Trusted_connection=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="RootDocumentPath" value="F:\DIGITAAL ARCHIEF"/>
    <add key="ScanPath" value="F:\DIGITAAL ARCHIEF\_\SCANS"/>
  </appSettings>
</configuration>
