<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ScanDbMySql" connectionString="server=ubuntu-nas;port=3306;database=scan;user=scanuser;password=scanuserpw" providerName="MySql"/>
  </connectionStrings>
  <appSettings>
    <add key="RootDocumentPath" value="C:\Temp"/>
    <add key="ScanPath" value="C:\Temp"/>
  </appSettings>
</configuration>